*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
clp.c
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h*
strerror.c
t1ascii
t1asm
t1binary
t1disasm
t1mac
t1unmac
t1utils-*.rpm
t1utils-*.tar.gz
