.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
config.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h*
t1ascii
t1asm
t1binary
t1disasm
t1mac
t1unmac
t1utils-*.rpm
t1utils-*.tar.gz
